# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NESurrect/NESurrect.vcxproj.user
NESurrect/NESurrect.vcxproj.filters
NESurrect/NESurrect.sln
NESurrect/.vs/NESurrect/v15/.suo
NESurrect/NESurrect.vcxproj
NESurrect/.vs/NESurrect/v15/Browse.VC.db
NESurrect/.vs/NESurrect/v15/Browse.VC.opendb
NESurrect/.vs/
NESurrect/x64/
